.category-container {
    width: 180px;
    min-height: 180px;
    overflow: hidden;
}

.category-image-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.category-image-container img {
    width: 150px;
    max-width: 100%;
    display: block;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.category-image-container p {
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: .5rem 0;
}

.category-item {
    color: #212529;
}

.category-item:hover {
    color: #212529;
}