.navbar-bg-color,
.footer-bg-color,
.sidebar-bg-color {
    background-color: black;
}

.breadcrumb-bg-color {
    background-color: #ffcc00;
}

.welcome-text {
    color: #ffcc00;
    margin-top: 5px;
    font-size: 15px;
}

.navbar-border-bottom-color {
    border-bottom: 3px solid #ffcc00;
}

.navbar-border-top-color {
    border-top: 3px solid #ffcc00;
}

.nav-height {
    min-height: 13%;
}

.img-logo-resize {
    min-width: 80%;
    min-height: 120%;
}

.img-logo-margin-left {
    margin-left: 30px;
}

@media (max-width: 767px) {
    .margin-right-logo-mobile {
        margin-right: 170px;
    }

    .welcome-panel-text {
        font-size: 10px;
    }
}
