.sidebar .nav-link {
    color: #ffcc00;
}

.sidebar .nav-link:hover {
    background-color: white;
    color: black;
}

.sidebar .nav-dropdown.open .nav-link {
    color: #ffcc00;
}

.sidebar .nav-dropdown.open .nav-link:hover {
    color: black;
}

.text-color-breadcrumb {
    color: black;
}
