.sidebar .nav-link {
    color: #ffcc00;

    letter-spacing: 2px;
    .icon-color {
        color: #ffcc00;
    }
}

.sidebar .nav-link.active .icon-color {
    color: #ffcc00;
}

.sidebar .nav-link:hover {
    background-color: white;
    color: black;
    .icon-color {
        color: #ffcc00;
    }
}

.sidebar .nav-link.active {
    background-color: #fffcfc;
}

.sidebar .nav-dropdown.open .nav-link {
    color: #ffcc00;
}

.sidebar .nav-dropdown.open .nav-link:hover {
    color: black;
}

.text-color-breadcrumb {
    color: black;
}

.sidebar-margin-top {
    margin-top: 30%;
}
