.backgroundImage {
    background-image: url(/images/Bujishu_Landing_Page_Desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

a.btn {
    color: black;
    border-radius: 10px;
    background-color: #fbcc34;
    border-color: #8b878d;
}

a.btn-dealer {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.bujishu-motto{
    color: rgb(235, 232, 232);
}

.bujishu-recursive{
    display: inline;
    font-size: 75px;
    font-family: "Dancing Script" cursive;
    font-family: "Tangerine", cursive;
}

.content {
    text-align: center;
    position: relative;
    // top: 50%;
}

.logo {
    text-align: center;
}



.landing_button{
    height: 70%;
   
}

// Add media query for mobile devices
@media (max-width: 767px) {
    .bujishu-motto{
        font-size: 100%;
    }
    .bujishu-recursive{
        font-size: 200%;
    }

    .container {
        text-align: center;
        position: relative;
    }

    a.btn {
        font-size: 10px;
    }

    .backgroundImage {
        background-image: url(/images/Bujishu_Landing_Page_Mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .logo {
        width: 300%;
        margin-left: 350%;
        margin-top: 200%;
    }
    .landing_button{
        height: 40%;
       
    }
}
