@media (max-width: 576px) {
    .guests-card {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .guests-card {
        max-width: 560px;
        margin: 0 auto;
    }
}